
<div class="wraper">
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/avisos']">Avisos Urgentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/encuestas']">Encuestas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/usuarios-directorio']">Usuarios y Directorio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/salas']">Salas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/quejas-sugerencias']">Quejas/Sugerencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/comedor']">Comedor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['login']">Cerrar Sesión</a>
        </li>
      </ul>
</div>
    
